.contenedor{
	margin-top: 30px;
	padding: 30px;
	/* width: 400px;
	align-items: center; */
}

.abs-center {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

}

.form {
	width: 450px;
	border-radius: 20px

}